my_mpr/settings.py
my_mpr/__pycache__
candidate/__pycache__
candidate/migrations/__pycache__
candidate/templatetags/__pycache__
media
PyWhatKit_DB.txt
candidate/management/__pycache__
candidate/management/commands/__pycache__