{% extends 'header.html' %}

{% load static %}
{% block content %}
<style>

</style>

</style>

	<div class="main">
	<input type="hidden" value="{{my_ip}}" id="id_myip" data-path="{% url 'savefeedback'%}">
		{% if pagestat != NULL %}
			<input type="hidden" id="id_pagestat" value="{{pagestat}}">
		{% endif %}


		<div class="report-container">
			<div class="report-header">
				<h1 class="recent-Articles">
					<span style="color: #0255a0;">Docs</span>'
					<span style="color: #0255a0;">Q</span>uick
					<span style="color: #0255a0;">U</span>tility for
					<span style="color: #0255a0;">A</span>rchiving &
					<span style="color: #0255a0;">D</span>istribution
				</h1>
				<input type="hidden" id="leave_update_list" value="{% url 'leaveUpdate_list' %}"></input>

		</div>

		<div
			class="report-body" id="leaveUpdate_list_table">
				<div class="card_dq">
					<div class="card-body">
						<h5>Docs Created by You</h5>
						<div class="folder-list-dq">
							<div class="folder_dq">
								<i class="fa fa-folder" aria-hidden="true"></i>
								<span class="folder-name-dq">Folder 1</span>
							</div>
							<div class="folder_dq">
								<i class="fa fa-folder" aria-hidden="true"></i>
								<span class="folder-name-dq">Folder 2</span>
							</div>
							<div class="folder_dq">
								<i class="fa fa-folder" aria-hidden="true"></i>
								<span class="folder-name-dq">Folder 3</span>
							</div>
							<div class="folder_dq">
								<i class="fa fa-folder" aria-hidden="true"></i>
								<span class="folder-name-dq">Folder 4</span>
							</div>
						</div>
					</div>
				</div>
			<br>
			<div class="card">
				<div class="card-body">
					Docs shared with you
				</div>
			</div>


		</div>
	</div>
</div>

<script src="{% static 'js/docs_quad.js' %}"></script>
{% endblock %}
