{% extends 'header.html' %}
{% load static %}
{% load custom_filter %}


{% block content %}
<form method="post">
    {% csrf_token %}
    <label for="hostname">Hostname:</label>
    <input type="text" id="hostname" name="hostname" required>
    
    <label for="port">Port:</label>
    <input type="number" id="port" name="port" value="22">
    
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Connect</button>
</form>
{% endblock %}