{% extends 'header.html' %}
{% load static %}
{% load custom_filter %}


{% block content %}
<!-- for header part -->





{# ------------------------- #}
<ul class="cards">
    {% for items in leave_records %}

<li>
	<div class="card_dash">
		<a href="#">
			<img src="{{ items.image.url }}" class="card__image" alt=""/>
			<div class="card__overlay">
				<div class="card__header">
					<svg class="card__arc">
						<path/>
					</svg>
					{% if items.no_of_leaves != None %}
						<img class="card__thumb" src="{% static 'img/verified.png' %}" alt=""/>
						<div class="card__header-text">
							<h3 class="card__title">{{items.name}}</h3>
							<span class="badge rounded-pill bg-secondary">Total Leaves -
								{{ items.no_of_leaves }}</span>
						</div>
					</div>
					<p class="card__description">
						<center>
							<form action="{% url 'pdf' %}" method="post">
								{% csrf_token %}
								<input type="hidden" name="cand_id" value="{{ items.c_id }}">
								<input type="hidden" name="mode" id="id_pdftype">
								<button class="btn btn-primary btn-sm pdf_print pdf_print1 mprprint" type="submit">MPR</button>
								<button class="btn btn-success btn-sm pdf_print pdf_print2 lacprint" type="submit">LAC</button>
								{% if items.att_graph != '' %}
									<a class="btn btn-primary btn-sm pdf_print_attendance1" href="{{items.id|getatt1url}}" download>@1</a>
								{% endif %}
								{% if items.att_details != '' %}
									<a class="btn btn-primary btn-sm pdf_print_attendance2" href="{{items.id|getatt2url}}" download>@2</a>
								{% endif %}
							</form>
						</center>
					</p>
				{% else %}
					<img class="card__thumb" src="{% static 'img/warning.png' %}" alt=""/>
					<div class="card__header-text">
						<h3 class="card__title">{{ items.name }}</h3>
						<span class="badge rounded-pill bg-danger">Update Leaves!</span>
					</div>
				{% endif %}
			</div>
		</a>
	</div>
</li>

    {% endfor %}


</ul>

{# ------------------------- #}







</div>




{% endblock %}