{% extends 'header.html' %}
{% load static %}


{% block content %}
<!-- for header part -->





{# ------------------------- #}
<ul class="cards">
    {% for items in leave_records %}
    <li>
        <a href="" class="card_dash">
            <img src="{{items.image.url}}" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc">
                        <path />
                    </svg>
                    {% if items.no_of_leaves != None %}
                    <img class="card__thumb" src="{% static 'img/verified.png' %}" alt="" />
                    <div class="card__header-text">
                        <h3 class="card__title">{{items.name}}</h3>
                        <span class="badge rounded-pill bg-secondary">Total Leaves - {{items.no_of_leaves}}</span>
                    </div>
                </div>
                <p class="card__description">
                    <center>
                        <form action="{% url 'pdf' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="cand_id" value="{{items.c_id}}">
                            <input type="hidden" name="mode" id="id_pdftype">
                            <button class="btn btn-primary btn-sm pdf_print mprprint"
                                style="border-radius: 1em 0em 0em 1em ; background: linear-gradient(to right, #274060, #1B2845)"
                                type="submit">MPR</button>
                            <button class="btn btn-success btn-sm pdf_print lacprint"
                                style="border-radius: 0em 1em 1em 0em; background: linear-gradient(to right, #1B2845, #274060)"
                                type="submit">LAC</button>
                    </form>
                    </center>
                </p>
                {% else %}
                <img class="card__thumb" src="{% static 'img/warning.png' %}" alt="" />
                <div class="card__header-text">
                    <h3 class="card__title">{{items.name}}</h3>
                    <span class="badge rounded-pill bg-danger">Update Leaves!</span>
                </div>
            </div>
            {% endif %}
            </div>
        </a>
    </li>
    {% endfor %}


</ul>

{# ------------------------- #}







</div>




{% endblock %}