{% load custom_filter %}
<a href="https://fmskl.attendance.gov.in/update/emplogin" target="_blank">Go to <i><b>Fmskl Portal</b></i></a>
<table class="table" id="leave_record_details">
	<thead>
		<tr>
			<th scope="col">#</th>
			{# <th scope="col">Month</th> #}
			<th scope="col"  style="width:18em">Name</th>
			<th scope="col" class="leavecol">Paid Leaves</th>
			<th scope="col" class="leavecol">Non Paid Leaves</th>
			<th scope="col" >@1</th>
			<th scope="col" >@2</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		{# {{leave_records}} #}
		{% for items in leaves %}
			{# {{items.att_details.url}} #}
		{% endfor %}
		{% for items in leave_records %}


			<tr>
				<th scope="row">
					{{forloop.counter}}</th>
				{# <td>{{current_month}},{{current_year}}</td> #}
				<td>{{items.name}}</td>
				<td class="paid_leave_Days leavecol">
					<input class="form-control leaveentry paidleavedays">
					<div class="leavelabel">
							{% for day in items.paid_leave_days|format_leave_days:month_year %}
									<span class="badge bg-success leave">{{day}}</span><br>
							{% endfor %}
						</div>
					</td>
				</td>
				<td class="non_paid_leave_Days leavecol">
					<input class="form-control leaveentry non_paidleavedays">
					<div class="leavelabel">
						{% for day in items.non_paid_leave_days|format_leave_days:month_year %}
							<span class="badge bg-danger leave">{{day}}</span><br>
						{% endfor %}
					</div>
				</td>
				<td style="width:30em !important" >
					<input class="form-control leaveentry" type="file" id="att_graph" >
					{% if items.att_graph != '' and  items.att_graph != None %} <siv>uploaded</siv>{% else %}<piv>Pending</piv>{% endif %}
				</td>
				<td style="width:30em !important" >
					<input class="form-control leaveentry" type="file" id="att_details">
					{% if items.att_details != ''  and  items.att_details != None %} <siv>uploaded</siv>{% else %}<piv>Pending</piv>{% endif %}
				</td>
				<td>
					<button class="btn btn-success editleaverecord" data-candid="{{items.c_id}}" data-paidleaves="{{items.paid_leave_days}}" data-nonpaidleaves="{{items.non_paid_leave_days}}">Edit</button>
					<button class="btn btn-info updateleaverecord" data-candid="{{items.c_id}}" data-path="{% url 'leaveRecord_Save' %}">Update</button>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</tbody></table><script></script></td></tr>
