<html>

<head>
    <meta charset="utf-8">
    <link href="report.css" rel="stylesheet">
    <title>Report</title>
    <meta name="description" content="Report example">
</head>

<style>
    @page {
        /* @top-left {
            background: #fbc847;
            content: counter(page);
            height: 1cm;
            text-align: center;
            width: 1cm;
        } */

        /* @top-center {
            background: #fbc847;
            content: '{{ header_content|safe }}';
            display: block;
            height: .05cm;
            opacity: .5;
            width: 100%;
        } */

        /* @top-right {
            content: string(heading);
            font-size: 9pt;
            height: 1cm;
            vertical-align: middle;
            width: 100%;
        } */

        @bottom-center {
            content: counter(page);
            font-size: 9pt;
            height: 1cm;
            vertical-align: middle;
            width: 100%;
        }
    }



    html {
        color: #393939;
        /* font-family: Fira Sans; */
        font-size: 11pt;
        font-weight: 300;
        line-height: 1.5;
    }


    .header {
        position: fixed;
        top: -50px;
        left: 0;
        right: 0;
        height: 50px;
        /* Adjust as needed */
        /* background-color: #eee; */
        padding: 10px;
        text-align: center;
        z-index: 1000;
    }
</style>



<body>


    <article id="columns">
        <div class="header">{{ header_content|safe }}</div>
        <!-- <p>ഈ ഇനത്തില്‍ താഴെപ്പറയുന്നവ വരവുവെയ്ക്കുന്നു<br>(i)&nbsp;&nbsp;&nbsp;&nbsp; ഹൈക്കോടതിയിലുള്ള ഫീസും
            പിഴയും<br>(ii)&nbsp;&nbsp;&nbsp;&nbsp;ജുഡീഷ്യലും, മജിസ്റ്റീരിയലും ഉദ്യോഗസ്ഥന്മാര്‍ ചുമത്തുന്ന
            പിഴകള്‍<br>(iii)&nbsp;&nbsp;&nbsp;ക്രിമിനല്‍ കേസ്സുകളില്‍ ബോണ്ടുകള്‍ അടക്കിയെടുക്കുമ്പോള്‍ ചുമത്തുന്ന
            പിഴകള്‍, കണ്ടുകെട്ടുന്ന <b>വസ്തുക്കള്‍ വിറ്റുകിട്ടുന്ന</b> വരവ് മുതലായവ ഉള്‍പ്പെട്ടുന്ന മറ്റിനങ്ങള്‍</p> -->
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b style="color:green">ഐ.എസ്.ആർ.ഓയിൽ</b></td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011-07-25</td>
                    <td>$170,750</td>
                </tr>
                <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009-01-12</td>
                    <td>$86,000</td>
                </tr>
                <tr>
                    <td>Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2012-03-29</td>
                    <td>$433,060</td>
                </tr>
                <tr>
                    <td>Airi Satou</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>33</td>
                    <td>2008-11-28</td>
                    <td>$162,700</td>
                </tr>
                <tr>
                    <td>Brielle Williamson</td>
                    <td>Integration Specialist</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2012-12-02</td>
                    <td>$372,000</td>
                </tr>
                <tr>
                    <td>Herrod Chandler</td>
                    <td>Sales Assistant</td>
                    <td>San Francisco</td>
                    <td>59</td>
                    <td>2012-08-06</td>
                    <td>$137,500</td>
                </tr>
                <tr>
                    <td>Rhona Davidson</td>
                    <td>Integration Specialist</td>
                    <td>Tokyo</td>
                    <td>55</td>
                    <td>2010-10-14</td>
                    <td>$327,900</td>
                </tr>
                <tr>
                    <td>Colleen Hurst</td>
                    <td>Javascript Developer</td>
                    <td>San Francisco</td>
                    <td>39</td>
                    <td>2009-09-15</td>
                    <td>$205,500</td>
                </tr>
                <tr>
                    <td>Sonya Frost</td>
                    <td>Software Engineer</td>
                    <td>Edinburgh</td>
                    <td>23</td>
                    <td>2008-12-13</td>
                    <td>$103,600</td>
                </tr>
                <tr>
                    <td>Jena Gaines</td>
                    <td>Office Manager</td>
                    <td>London</td>
                    <td>30</td>
                    <td>2008-12-19</td>
                    <td>$90,560</td>
                </tr>
                <tr>
                    <td>Quinn Flynn</td>
                    <td>Support Lead</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2013-03-03</td>
                    <td>$342,000</td>
                </tr>
                <tr>
                    <td>Charde Marshall</td>
                    <td>Regional Director</td>
                    <td>San Francisco</td>
                    <td>36</td>
                    <td>2008-10-16</td>
                    <td>$470,600</td>
                </tr>
                <tr>
                    <td>Haley Kennedy</td>
                    <td>Senior Marketing Designer</td>
                    <td>London</td>
                    <td>43</td>
                    <td>2012-12-18</td>
                    <td>$313,500</td>
                </tr>
                <tr>
                    <td>Tatyana Fitzpatrick</td>
                    <td>Regional Director</td>
                    <td>London</td>
                    <td>19</td>
                    <td>2010-03-17</td>
                    <td>$385,750</td>
                </tr>
                <tr>
                    <td>Michael Silva</td>
                    <td>Marketing Designer</td>
                    <td>London</td>
                    <td>66</td>
                    <td>2012-11-27</td>
                    <td>$198,500</td>
                </tr>
                <tr>
                    <td>Paul Byrd</td>
                    <td>Chief Financial Officer (CFO)</td>
                    <td>New York</td>
                    <td>64</td>
                    <td>2010-06-09</td>
                    <td>$725,000</td>
                </tr>
                <tr>
                    <td>Gloria Little</td>
                    <td>Systems Administrator</td>
                    <td>New York</td>
                    <td>59</td>
                    <td>2009-04-10</td>
                    <td>$237,500</td>
                </tr>
                <tr>
                    <td>Bradley Greer</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                    <td>41</td>
                    <td>2012-10-13</td>
                    <td>$132,000</td>
                </tr>
                <tr>
                    <td>Dai Rios</td>
                    <td>Personnel Lead</td>
                    <td>Edinburgh</td>
                    <td>35</td>
                    <td>2012-09-26</td>
                    <td>$217,500</td>
                </tr>
                <tr>
                    <td>Jenette Caldwell</td>
                    <td>Development Lead</td>
                    <td>New York</td>
                    <td>30</td>
                    <td>2011-09-03</td>
                    <td>$345,000</td>
                </tr>
                <tr>
                    <td>Yuri Berry</td>
                    <td>Chief Marketing Officer (CMO)</td>
                    <td>New York</td>
                    <td>40</td>
                    <td>2009-06-25</td>
                    <td>$675,000</td>
                </tr>
                <tr>
                    <td>Caesar Vance</td>
                    <td>Pre-Sales Support</td>
                    <td>New York</td>
                    <td>21</td>
                    <td>2011-12-12</td>
                    <td>$106,450</td>
                </tr>
                <tr>
                    <td>Doris Wilder</td>
                    <td>Sales Assistant</td>
                    <td>Sydney</td>
                    <td>23</td>
                    <td>2010-09-20</td>
                    <td>$85,600</td>
                </tr>
                <tr>
                    <td>Angelica Ramos</td>
                    <td>Chief Executive Officer (CEO)</td>
                    <td>London</td>
                    <td>47</td>
                    <td>2009-10-09</td>
                    <td>$1,200,000</td>
                </tr>
                <tr>
                    <td>Gavin Joyce</td>
                    <td>Developer</td>
                    <td>Edinburgh</td>
                    <td>42</td>
                    <td>2010-12-22</td>
                    <td>$92,575</td>
                </tr>
                <tr>
                    <td>Jennifer Chang</td>
                    <td>Regional Director</td>
                    <td>Singapore</td>
                    <td>28</td>
                    <td>2010-11-14</td>
                    <td>$357,650</td>
                </tr>
                <tr>
                    <td>Brenden Wagner</td>
                    <td>Software Engineer</td>
                    <td>San Francisco</td>
                    <td>28</td>
                    <td>2011-06-07</td>
                    <td>$206,850</td>
                </tr>
                <tr>
                    <td>Fiona Green</td>
                    <td>Chief Operating Officer (COO)</td>
                    <td>San Francisco</td>
                    <td>48</td>
                    <td>2010-03-11</td>
                    <td>$850,000</td>
                </tr>

        </table>

        <section>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam volutpat faucibus vestibulum.
                Mauris varius orci quam. Nam dui mauris, dictum at elementum at, mollis pulvinar est.
                Nunc lobortis pharetra erat, id rutrum lorem malesuada in.
            </p>
            <p>
                Phasellus id nisl nec arcu tempor ultricies non id tortor. Mauris ex nibh, viverra vitae nisi eget,
                placerat pharetra est.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id maximus diam. Cras molestie nisl vitae
                iaculis convallis.
                Vivamus molestie vitae nisl sed interdum. Nunc aliquam massa rhoncus finibus convallis.
                Vivamus sed vulputate risus. Nunc dignissim magna velit, quis lobortis ex volutpat eget.
                Proin dictum mauris condimentum consequat faucibus.
            </p>
            <p>
                Duis maximus mauris ac purus eleifend, sit amet blandit nulla lacinia.
                Maecenas massa dolor, suscipit at erat eget, maximus dignissim dolor. Praesent consectetur maximus
                libero, eu facilisis ligula finibus et.
                Cras rhoncus eros sit amet lorem auctor, a efficitur leo tincidunt. Sed viverra interdum odio, eget
                pulvinar tortor blandit lacinia.
                Praesent consequat congue commodo. Phasellus eu massa feugiat, imperdiet nisi a, sagittis ipsum.
            </p>
            <p>
                Suspendisse et gravida nunc. Quisque at felis nisl. Nam eget efficitur nunc.
                Vivamus fermentum imperdiet massa, porttitor elementum mauris faucibus scelerisque.
                Pellentesque ut metus tortor. Fusce vulputate ex at turpis consectetur, in vestibulum odio placerat.
                Suspendisse tempor sapien rutrum, cursus sem a, tincidunt odio. Sed in consequat augue.
                Proin finibus felis neque, ac hendrerit lorem consequat nec.
            </p>
            <p>
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce quam mi,
                dapibus et augue sit amet, porttitor volutpat orci.
                Vestibulum ac ligula at justo placerat pulvinar vel non velit. Duis vel iaculis nibh, non tristique
                lectus.
                Phasellus vel ex bibendum, accumsan tellus a, commodo nisi.
            </p>
            <p>
                Mauris tincidunt dolor ligula, et egestas lectus rutrum consectetur. Donec ac ex mollis, vestibulum
                libero in, convallis risus.
            </p>
            <p>
                Suspendisse et gravida nunc. Quisque at felis nisl. Nam eget efficitur nunc.
                Vivamus fermentum imperdiet massa, porttitor elementum mauris faucibus scelerisque.
                Pellentesque ut metus tortor. Fusce vulputate ex at turpis consectetur, in vestibulum odio placerat.
                Suspendisse tempor sapien rutrum, cursus sem a, tincidunt odio. Sed in consequat augue.
                Proin finibus felis neque, ac hendrerit lorem consequat nec.
            </p>
            <p>
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce quam mi,
                dapibus et augue sit amet, porttitor volutpat orci.
                Vestibulum ac ligula at justo placerat pulvinar vel non velit. Duis vel iaculis nibh, non tristique
                lectus.
                Phasellus vel ex bibendum, accumsan tellus a, commodo nisi.
            </p>
            <p>
                Mauris tincidunt dolor ligula, et egestas lectus rutrum consectetur. Donec ac ex mollis, vestibulum
                libero in, convallis risus.
            </p>
        </section>
    </article>

</body>

</html>