{% extends 'header.html' %}
{% load static %}
{% load custom_filter %}


{% block content %}

<input type="hidden" id="deleteconfirm" data-imgurl="{% static 'img/delete_confirm.png' %}">
<input type="hidden" id="deletesuccess" data-imgurl="{% static 'img/delete_success.png' %}">
<input type="hidden" id="deletefailed" data-imgurl="{% static 'img/delete_failed.png' %}">
<input type="hidden" id="poststat" value="{{poststat}}">
<div class="card main container">

	<div class="card-header d-flex justify-content-between align-items-center shadow-lg p-3 mb-5 bg-body-tertiary rounded border border-bottom-0"
		style="border-radius: 19px !important;">
		<span>
			<h5 style="color:rgb(49, 0, 71)"><i class="fa fa-google-wallet" aria-hidden="true"></i> Wall Post Feeds</h5>
		</span>
		<button class="btn btn-success ms-auto" type="button" data-bs-toggle="offcanvas"
			data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
			<b>+ Post</b>
		</button>
	</div>
	<div class="card-body">

		{% for wall_post in wallpost %}
		<span class="badge {% if wall_post.posted_by == 'Brahmoski' %} bg-danger {% else %}bg-success{% endif %} ">{{wall_post.posted_by}} @ {{wall_post.posted_time}}</span>		
		{% if my_ip == wall_post.posted_ip or my_ip == '127.0.0.1' %}<span style="cursor: pointer;"><i class="fa fa-trash deleteWallPost" aria-hidden="true"  data-postid="{{wall_post.id}}" data-deletepath="wall_post_delete"></i></span>{% endif %}
		<div class=" wallpost_content">
			<p class="card-text">
				<pre>{{wall_post.content|safe}}</pre>
			</p>
			{% if wall_post.files != "" %}
			<a href="{{ wall_post.files.url }}" target="_blank">
				<img src="{{ wall_post.files.url }}" style="width:150px !important;height:auto">
			</a>
			<br><span style="font-size:10px;font-style: italic;color:blueviolet;">Click the image to open in full size</span>
			{% endif %}
		</div>
		<br><br>
		{% endfor %}
	</div>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
	style="width:500px">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
	</div>
	<div class="offcanvas-body">

		<div class="card-header" style="font-weight: bold;color:navy">
			Unka comments post pannungo annai !!!
		</div>


		<form class="row g-3 needs-validation formblockcontent" action="{% url 'wall_post_save' %}" method="POST"
			enctype="multipart/form-data">
			{% csrf_token %}
			<textarea rows="20" cols="30" name="wp_content"></textarea>
			<input class="form-control" type="file" id="uploadFile" name="wp_img" accept="image/*">
			<div class="form-control" id="imageDisplay"></div>
			<div class="fixed-container">
				<div class="col-md-2">Post as</div>
				<div class="col-md-6">
					<select class="form-select">
						<option>{{ post_by }}</option>
						<option>Anonymous</option>
					</select>
				</div>
				<div class="col-md-4">
					<label class="form-label"></label>
					<button type="submit" class="btn btn-success" id="save_wall_post">Post Publicly</button>
				</div>
			</div>
		</form>

	</div>
</div>

<script src="{% static 'js/wall_post.js' %}"></script>
{% endblock %}