{% extends 'header.html' %}
{% load static %}
{% load custom_filter %}


{% block content %}

<style>
	.frosted-glass {
	width: 300px; /* Adjust the width as needed */
	height: 230px; /* Adjust the height as needed */
	background: linear-gradient(to bottom right, rgba(238, 130, 238, 0.2), rgba(75, 0, 130, 0.3)); /* Lighter violet to indigo gradient with transparency */
	backdrop-filter: blur(10px); /* Frosted glass effect */
	border-radius: 15px; /* Rounded corners */
	padding: 20px; /* Space inside the div */
    color: rgb(49, 0, 71) !important; /* Text color */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
	overflow: hidden; /* Prevent overflow */
	border-radius: 19px !important; 
	position:fixed; 
	width:60em !important;
	animation: whatsnew_pulldown 2s cubic-bezier(0.42, 0, 0.58, 1) forwards;
	transition: transform 0.5s ease;

	}

@keyframes whatsnew_pulldown {

  0% {
    top: -150px;
    /* Start position */
  }


  100% {
    top: 80px;
    /* Settle in the final position smoothly */
  }
}

</style>


<input type="hidden" id="deleteconfirm" data-imgurl="{% static 'img/delete_confirm.png' %}">
<input type="hidden" id="deletesuccess" data-imgurl="{% static 'img/delete_success.png' %}">
<input type="hidden" id="deletefailed" data-imgurl="{% static 'img/delete_failed.png' %}">
<input type="hidden" id="poststat" value="{{poststat}}">
<input type="hidden" id="wallpost_msg_read" value="{% url 'wallpost_msg_read' %}">




<div class="card main container">


		{% if wallpost_last_active < comparison_date %}
			<div class="frosted-glass ">
						<div>
							<h5>
								<i class="fa fa-google-wallet" aria-hidden="true"></i>
								What's New in Wall Post v24.7.13 ?!</h5>
								<ul>
									<li>Copying a wallpost content will now be triggered only when <b>double clicked</b>, allowing you to select the content more easily.</li>
									<li>You will be notified for unread messages since <i>byte-WaSSH</i> is loaded. </li>
									<li>New messages will have an <i style="color:crimson"><b>UnRead</b></i> badge.</li>
								</ul>
						</div>
				<div style="text-align:right">
					<button class="btn btn-primary vodey"  style="background-color:indigo">Vodey<button>
				</div>
				<br>
				<br>
				<br>
			</div>
		{% endif %}


		<div class="card-header d-flex justify-content-between align-items-center shadow-lg p-3 mb-5 bg-body-tertiary rounded border border-bottom-0"
			style="border-radius: 19px !important;">
			<span>
				<h5 style="color:rgb(49, 0, 71)"><i class="fa fa-google-wallet" aria-hidden="true"></i> Wall Post Feeds</h5>
			</span>
			<button class="btn btn-success ms-auto post_item" type="button" data-bs-toggle="offcanvas"
				data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
				<b>+ Post</b>
			</button>
		</div>


		<!-- -------- Wall post content---------- -->
		<div class="card-body">
			{% for wall_post in wallpost %}
				{% if wall_post.send_to != '0' %}
					<img class="you-pic" src="{% static 'img/u2u.png' %}" alt="You">
					{% else %}	
					<img class="you-pic" src="{% static 'img/u2g.png' %}" alt="You">
				{% endif %}
			<span class="badge {% if wall_post.posted_by == 'BRAHMOSKI' %} bg-danger {% else %}bg-success{% endif %} roundbadge">{{wall_post.posted_by}} => {{wall_post.send_to | ip2name:my_ip}}</span>

			{% if my_ip == wall_post.posted_ip or my_ip == '127.0.0.1' %}
				<span style="cursor: pointer;"><i class="fa fa-trash deleteWallPost" aria-hidden="true" data-postid="{{wall_post.id}}" data-deletepath="wall_post_delete"></i></span>
			{% endif %}
				<i class="replyWallPost fa fa-reply" data-postid="{{wall_post.id}}" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>

			{% if wall_post.posted_time > wallpost_last_active %}
			<i style="color:crimson"><b>UnRead</b></i> 
			{% endif %}
			
			<div class=" wallpost_content">
				<p class="card-text">
					{% if wall_post.subject != None %} 
						<strong>{{wall_post.subject}}</strong> 
					{% endif %}
					<pre  class="wallpostcontent" data-bs-toggle="tooltip" data-bs-placement="top" title="Double Click to copy">{{wall_post.content | style_contents}}</pre>
				</p>

				{% if wall_post.files != "" %}
					{% if wall_post.files.url|is_pdf  or  wall_post.files.url|is_zip or  wall_post.files.url|is_xl %}
						<a href="{{ wall_post.files.url }}" target="_blank">
							{{ wall_post.files.name|getFileName }}
						</a>
					{% else %}
						<a href="{{ wall_post.files.url }}" target="_blank">
							<img src="{{ wall_post.files.url }}" style="width:150px !important;height:auto">
						</a>
						<br><span style="font-size:10px;font-style: italic;color:blueviolet;">Click the image to open in full
							size</span>
					{% endif %}
				{% endif %}
				<!-- reply -->
				{% if wall_post.reply_content != None and wall_post.reply_content != ''%}
				<div class="wallpost_content_reply">
					<div class="timestampcontainer"><span class="custom-span"><b>{{wall_post.reply_by}}</b> replied @ {{wall_post.reply_time}}</span></div>
					<p class="card-text">
						<pre  class="wallpostcontent" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to copy">{{wall_post.reply_content | style_contents}}</pre>
					</p>	
				</div>	
				{% endif %}	

			</div>
			<div class="timestampcontainer">
				<span class="custom-span">{{wall_post.posted_time}}</span>
			</div>
			<br>
			{% endfor %}

		</div>

	</div>






<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
	style="width:500px">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
	</div>
	<div class="offcanvas-body">

		<div class="card-header" style="font-weight: bold;color:navy">
			Unka contents post pannungo annai !!!
		</div>

		<br>
		<form class="row g-3 needs-validation formblockcontent" id="formblockcontent" action="{% url 'wall_post_save' %}" method="POST"
			enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="wp_reply_id" id="wp_reply_id" value="0">
			<input class="form-control" name="wp_subject" id="wp_subject" placeholder="Add a subject here...">
			<textarea rows="20" cols="30" name="wp_content"></textarea>
			<!-- <input class="form-control" type="file" id="uploadFile" name="wp_img" accept="image/*"> -->
			<input class="form-control" type="file" id="uploadFile" name="wp_img">
			<div class="form-control" id="imageDisplay"></div>
			<div class="alert alert-success" role="alert">
				<h4>Tips & Tricks</h4>
				<ul>
					<li>Try to add a subject to your content.</li>
					<li>Bold Text - enclose between two asterisks.<br>
						<div style="background-color: #b7d9ca;">**Brahmoski** thunai => <b>Brahmoski</b> thunai.</div>
					</li>
					<li>Italic Text - enclose between two underscores.<br>
						<div style="background-color: #b7d9ca;">Brahmoski __veendum thunai__ <br>=> Brahmoski <i>veendum
								thunai</i></div>
					</li>
				</ul>
			</div>
			<div class="fixed-container">
				<div class="col-md-2" id="post_for">Post for</div>
				<div class="col-md-6">
					<select class="form-select" name="wp_sendto_ip" id="wp_sendto_ip">
						{% for ip in send_to %}
							{% if ip.ip == "0" %}
								<option value="{{ip.ip}}" selected>{{ ip.name }}</option>
							{% else %}
								<option value="{{ip.ip}}">{{ ip.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="col-md-4">
					<label class="form-label"></label>
					<button type="submit" class="btn btn-success" id="save_wall_post">Post</button>
				</div>
			</div>
		</form>

	</div>
</div>

<script src="{% static 'js/wall_post.js' %}"></script>
{% endblock %}